.card {
    background-color: #4C566A;
    border-radius: 0 !important;
    border-width: 0px !important;
    margin-bottom: 25px;
}

.card-text {
    margin-bottom: 10px;
}

.ta-badge {
    float: right;
    background-color: #88C0D0;
}

.helping-ta-badge {
    background-color: #EBCB8B;
    color: black !important;
    font-size: 150%;
    margin-bottom: 10px;
}
