.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

* {
    font-family: 'Rubik', sans-serif;
}

.btn-cue {
    font-weight: 500;
    background-color: #5E81AC;
    border-radius: 8px;
    border-width: 0px;
    color: #ffffff;
    padding: 10px 20px;
    margin: 5px 0px;
}

.btn-cue:hover {
    background-color: #557aa6;
    color: #ffffff;
}

.generic {
    background-color: #2E3440;
}

.generic:hover {
    background-color: #2a2f3a;
}

.signin {
    background-color: #5E81AC;
}

.signin:hover {
    background-color: #5376a1;
}

.remove {
    background-color: #BF616A;
}

.remove:hover {
    background-color: #b8505a;
}

.success {
    background-color: #A3BE8C;
}

.success:hover {
    background-color: #95b47b;
}

.navbar-brand {
    color: #88C0D0 !important;
    font-size: 2em !important;
    font-weight: 700;
}

.nav-color {
    background-color: #2E3440 !important;  
}

.navbar-nav {
    font-size: 1.2em;
    margin-top: 4px;
}

.container {
    margin-top: 22px;
}

textarea, input {
    color: #ffffff !important;
    background-color: #4C566A !important;
    border-radius: 8px !important;
}

* {
    color: #ffffff !important;
}
